@import "../../../../../variables.css";

.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.modal {
    background: var(--background-color);
    padding: 1.2rem;
    border-radius: 8px;
    max-width: 392px;
    width: 100%;
    max-height: calc(100vh - 126px);
    overflow-y: auto;
    text-align: center;
    color: var(--text-white);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    position: relative;
    margin-top: 0;
    margin-bottom: 57px;
}
 

.closeButton {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--icon-green);
  transition: transform 0.2s;
}

.closeButton:hover {
  transform: scale(1.2);
}

.modalTitle {
  color: var(--title-pink);
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 1rem;
}

.card {
  background: var(--color-gris);
  border: 2px solid var(--icon-blue);
  border-radius: 12px;
  aspect-ratio: 2 / 1;
  font-size: 0.85rem;
  font-weight: bold;
  color: var(--text-white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
  padding: 0 4px;
  text-align: center;
}

.card.flipped {
  background: var(--icon-blue);
  border-color: var(--color-orange);
  color: #fff;
}

/* TIER STYLES */
.card.tier-min {
  border-color: #778899;
  background-color: #2f2f33;
}

.card.tier-majo {
  border-color: #a020f0;
  background-color: #31183c;
}

.card.tier-maxi {
  border-color: #00bcd4;
  background-color: #103844;
}

.card.tier-mega {
  border-color: #ff1744;
  background-color: #3a1212;
}

.card.tier-gold {
  border: 2px solid gold;
  background-color: #3a2e10;
  background-image: linear-gradient(45deg, #ffd700 0%, #ffec8b 100%);
  animation: shine 2s infinite linear;
  color: #000;
}

@keyframes shine {
  0% {
    box-shadow: 0 0 5px gold;
  }
  50% {
    box-shadow: 0 0 15px gold;
  }
  100% {
    box-shadow: 0 0 5px gold;
  }
}

.result {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--icon-green);
}
