/* === BONUSCARD FLIP ANIMATION === */

.flipCardWrapper {
  perspective: 800px;
  aspect-ratio: 2 / 1;
  width: 100%;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flipCardInner.revealed {
  transform: rotateY(180deg);
}

.flipCardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  cursor: pointer;
  text-align: center;
  user-select: none;
  background: var(--color-gris);
  color: var(--text-white);
}

.flipCardFront {
  z-index: 2;
}

.flipCardBack {
  transform: rotateY(180deg);
  z-index: 1;
  border-color: var(--color-orange);
  background: var(--icon-blue);
  color: #fff;
  margin-left: -3px;
}

/* TIER STYLES para el dorso animado */
.flipCardBack.tier-min {
  border-color: #778899;
  background-color: #2f2f33;
}

.flipCardBack.tier-majo {
  border-color: #a020f0;
  background-color: #31183c;
}

.flipCardBack.tier-maxi {
  border-color: #00bcd4;
  background-color: #103844;
}

.flipCardBack.tier-mega {
  border-color: #ff1744;
  background-color: #3a1212;
}

.flipCardBack.tier-gold {
  border: 2px solid gold;
  background-color: #3a2e10;
  background-image: linear-gradient(45deg, #ffd700 0%, #ffec8b 100%);
  animation: shine 2s infinite linear;
  color: #000;
}
